<div class="row justify-content-center my-4">
  <div class="col-md-9 col-sm-12">
    <div class="card border-dark">
      <div class="card-header bg-dark">
        <h1 class="text-white mb-0">Edit Article: <%= @article.id %></h1>
      </div>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
